.blogTemplate {
    background: white;
    padding: 24px;
    h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }
    code {
        background-color: #223448;
        color: white;
        font-size: 1em;
        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        padding: 5px 10px;
        border-radius: 5px;
    }
    deckgo-highlight-code.deckgo-highlight-code-carbon.deckgo-highlight-code-theme-dracula.hydrated {
        box-shadow: none;
    }
}