$color-primary: #2bbc8a;
$color-second: #4d9aff;
$color-bg: #1c2022;
.layout {
  background: $color-bg;
  .ant-layout-header {
    background: $color-bg;
    h1 {
      color: white;
      text-align: center;
      font-size: 55px;
      font-weight: 900;
      font-style: italic;
    }
  }
  .ant-layout-footer {
    background: $color-bg;
    color: white;
  }
  .content {
    padding: 24px 50px;
    min-height: calc(100vh - 134px);
    .nameCard {
      h1 {
        text-align: center;
        margin-bottom: 0;
      }
      h5 {
        text-align: center;
        margin-bottom: 30px;
      }
      .nameCard-avatar {
        display: block;
        margin: 0 auto 20px;
      }
    }
    .main-tabs {
      background: white;
      .ant-tabs-tab {
        margin: 0;
        padding: 12px 20px;
      }
      .ant-list-pagination {
        margin: 24px;
      }
      .tags {
        padding: 0 16px;
      }
    }
    .projectList {
      padding: 0 16px;
      .ant-image {
        height: 180px
      }
    }
  }
}